@import url("estilos-pc.css") screen and (min-width: 1150px);

@import url("estilos-mobile.css") screen and (max-width: 499px);

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

h1 {font-size: 3em; margin: 0;}
h2 {font-size: 1.3em; margin: 0; font-weight: normal;}
h3 {font-size: 1.2em;}
h4 {border-bottom: 1px solid #A2CCF1; color: #4DA0E8; font-size: 1.2em;}
p {font-size: 0.9em;}
li {font-size: 0.9em;}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
}

button {
    font-family: 'Poppins', sans-serif;
    background-color: #4DA0E8;
    padding: 10px 46px;
    font-size: 0.9em;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #1a81db;
}

/* ESTUDIOS */

#container-estudios, #container-conocimientos, #programas{
    box-shadow: 5px 5px 10px 0px rgba(95,95,95,0.25);
    border-radius: 5px;
}

#container-conocimientos .texto-porc {
    margin-top: 22px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#container-conocimientos div:nth-child(2) {
    border-bottom: 3px solid #FA524F;
    color: #FA524F;
}

#container-conocimientos div:nth-child(3) {
    border-bottom: 3px solid #FAAC5F;
    color: #FAAC5F;
}

#container-conocimientos div:nth-child(4) {
    border-bottom: 3px solid #32BA66;
    color: #32BA66;
}

#container-conocimientos div:last-child {
    border-bottom: 3px solid #4DA0E8;
    color: #4DA0E8;
}
