/* NAV */

#menu-hamburguesa {
    display: none;
}

#menu {
    height: 100px;
}

#barra {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #152331;
    z-index: 10;
}

#barra a {
    padding: 30px;
    font-size: 1.1em;
    color: white;
}

#barra a:hover {
    color: #83A3C3; 
}

/* HERO */

#hero {
    height: calc(100vh - 100px);
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152331;
}

#container-hero {
    width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
}

#container-hero::before {
    position: absolute;
    content: '';
    height: 500px;
    width: 500px;
    border-radius: 50%;
    left: -12%;
    top: 45%;
    background: linear-gradient(90deg, rgba(21,35,49,1) 19%, rgba(248,248,248,1) 100%);
    animation: animateCircle 4s linear infinite;
    z-index: 4;
}

@keyframes animateCircle {
    50% {
        left: -10%;
        top: 42%;
    }
}

#container-hero::after {
    position: absolute;
    content: '';
    height: calc(100vh - 100px);
    width: 58vw;
    border-radius: 0 100px 0 0;
    left: 0;
    background-color: #F8F8F8;
}

#yo {
    z-index: 5;
}

#img-illustracion img{
    position: relative;
    height: 45vh;
    top: -100px;
    right: 50px;
    animation: animateIllustration 4s linear infinite;
    margin-top: 150px;
}

@keyframes animateIllustration {
    50% {
        right: 30px;
        top: -90px;
    }
}

#img-illustracion {
    z-index: 5;
}

header button {
    margin-top: 20px ;
}

header button:hover {
    background-color: #152331;
}

/* SOBRE MI */

.d-none {
    display: none;
}

#sobre-mi {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

#sobre-mi img {
    height: 436px;
    margin-left: 80px;
    border-radius: 5px;
}

#redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    height: 436px;
    background-color: #152331;
    margin: 0 95px;
    border-radius: 0 50px 50px 0;
    background-repeat: no-repeat, no-repeat;
    background-position: center 42%, center 58%;
}

#redes a {
    text-indent: -1000px;
}

#redes a:first-child {
    margin-bottom: 30px;
}

#texto-sobremi {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: 80px;
    align-items: center;
}

#texto-sobremi h3 {
    margin-bottom: 20px;
}

/* ESTUDIOS */

#estudios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #F8F8F8;
}

#estudios .m-h3 {
    margin-top: 40px;
    margin-bottom: 5px;
}

#estudios h3, #estudios p{
    text-align: center;
}

#container-general{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-general h3 {
    margin-bottom: 40px;
}

#container-estudios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 30px 0;
    margin-right: 58px;
    margin-left: 80px;
}

.container-est {
    text-align: center;
}

.container-est h4 {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.container-est:last-child {
    margin-top: 50px;
}

.container-est p {
    margin-bottom: 5px;
}

#container-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 30px 0;
    margin-right: 80px;
}

.texto-porc {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

/* PROGRAMAS */

#programas {
    max-width: 1060px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

#programas li {
    width: 212px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#programas .line {
    border-right: 1px solid #4DA0E8;
}

/* PROYECTOS */

#proyectos {
    height: 100vh;
    background-color: #F8F8F8;
}

#imagenes .twoimg{
    display: flex;
}

#imagenes .twoimg div {
    width: 50%;
    height: 50vh;
}

#imagenes div:first-child div:first-child {
    background: url(../Mockups/logo.png);
    background-repeat: no-repeat;
    background-position: center 30%;
}

#imagenes div:first-child div:last-child {
    background-image: url(../Mockups/web-just.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#imagenes div:last-child div:first-child {
    background-image: url(../Mockups/web-francia.png);
    background-repeat: no-repeat;
    background-position: top right;
}

#imagenes div:last-child div:last-child {
    background: url(../Mockups/app-addict.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left 30%;
}

#imagenes div a {
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding-top: 30px;
}

#imagenes .twoimg div:hover a {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1050px) {
    #img-illustracion img{
        height: 50vh;
    }
}

@media (min-width: 1120px) {
    #img-illustracion img{
        height: 55vh;
    }
}

@media (min-width: 1220px) {
    #programas {
        margin: auto;
        margin-top: 30px;
    }

    #img-illustracion img{
        height: 60vh;
    }
}

@media (min-width: 1850px) {
    #imagenes div:first-child span:first-child {
        background: url(../Mockups/logo-xl.png);
        background-repeat: no-repeat;
        background-position: center 30%;
    }
    
    #imagenes div:first-child span:last-child {
        background-image: url(../Mockups/web-just-xl.png);
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    #imagenes div:last-child span:first-child {
        background-image: url(../Mockups/web-francia-xl.png);
        background-repeat: no-repeat;
        background-position: top right;
    }
    
    #imagenes div:last-child span:last-child {
        background: url(../Mockups/app-addict-xl.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left 30%;
    }
}