@import url("estilos-mobile.css") screen and (max-width: 991px);
@import url("estilos-pc.css") screen and (min-width: 992px);

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

h1 {font-size: 3em; margin: 0;}
h2 {font-size: 1.3em; margin: 0; font-weight: normal;}
h3 {font-size: 1.2em;}
h4 {border-bottom: 1px solid #A2CCF1; color: #4DA0E8; font-size: 1.2em;}
p {font-size: 0.9em;}
li {font-size: 0.9em;}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #152331;
    padding: 10px 46px;
    border: 0;
    border-radius: 5px;
}

button a {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: white;
}

/* SOBRE MI */

#sobre-mi div {
    max-width: 501px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-mi #container-img {
    margin-right: 58px;
    margin-left: 80px;
}

#sobre-mi img {
    width: 501px;
}

#texto-sobremi button {
    background-color: white;
    border: 2px solid #152331;
    margin-top: 30px;
}

#texto-sobremi button a{
    color: #152331;
}

#texto-sobremi button:hover{
    background-color: #152331;
}

#texto-sobremi button:hover a{
    color: white;
}

/* ESTUDIOS */

#container-estudios, #container-conocimientos, #programas{
    box-shadow: 5px 5px 10px 0px rgba(95,95,95,0.25);
    border-radius: 5px;
}

#container-estudios:hover, #container-conocimientos:hover, #programas:hover{
    box-shadow: 10px 10px 10px 0px rgba(95,95,95,0.25);
}

#container-conocimientos .texto-porc {
    margin-top: 22px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#container-conocimientos div:nth-child(2) {
    color: #FA524F;
}

#container-conocimientos div:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(250,82,79,1) 80%, rgba(238,238,238,1) 80%);
}

#container-conocimientos div:nth-child(3) {
    color: #faac5f;
}

#container-conocimientos div:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(250,172,95,1) 70%, rgba(238,238,238,1) 70%);
}

#container-conocimientos div:nth-child(4) {
    color: #32BA66;
}

#container-conocimientos div:nth-child(4)::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(50,186,102,1) 70%, rgba(238,238,238,1) 70%);
}

#container-conocimientos div:last-child {
    color: #4DA0E8;
}

#container-conocimientos div:last-child::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(77,160,232,1) 50%, rgba(238,238,238,1) 50%);
}

/* PROYECTOS */

#proyectos a {
    width: 75px;
    height: 30px;
    font-weight: bold;
    background-image: url(../Iconos/Icon-pdf.png);
    background-repeat: no-repeat;
    background-position: 100%;
    padding-top: 4px;
}

/* FOOTER */

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #152331;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-size: 0.9em;
}

#contacto p {
    font-size: 0.8em;
}

#contacto ul {
    display: flex;
}

#contacto ul li {
    margin-bottom: 20px;
    padding: 2px 0;
}

#contacto ul li:last-child {
    padding-left: 30px;
    margin-bottom: 50px;
}

#contacto li a {
    color: white;
    padding: 2px 0 2px 35px;
}

#contacto li:first-child a{
    background-image: url(../Iconos/linkedin-mini.png);
    background-repeat: no-repeat;
}

#contacto li:nth-child(2) a{
    background-image: url(../Iconos/mail-mini.png);
    background-repeat: no-repeat;
}

#contacto li:last-child {
    background-image: url(../Iconos/phone-mini.png);
    background-repeat: no-repeat;
}