h1 {text-align: center;}
h2 {text-align: center;}

header nav {
    width: 100%;
    position: fixed;
    top: 0;
}

#barra {
    display: none;
}

/* HAMBURGUESA */

#menu-hamburguesa {
    width: 30px;
    height: 35px;
    cursor: pointer;
    margin-left: 30px;
}

#menu-hamburguesa span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0 100%;
    transition: all 300ms;
}

#menu-hamburguesa #burguer {
    margin-top: 20px;
}

/* ACTIVE */

#burguer.active .linea1 {
    transform: rotate(45deg) translate(-2px, 1px);
}

#burguer.active .linea2 {
    opacity: 0;
    margin-left: -40px;
}

#burguer.active .linea3 {
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* MENU DESPLEGABLE */

#menu-hamburguesa div:nth-child(2) {
    width: 100vw;
    height: 0;
    background-color: #152331;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40px;
    left: 0;
    transition: all 300ms ease-out;
    background-image: url(../Iconos/linkedin.png), url(../Iconos/mail.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 42% 90%, 58% 90%;
}

#menu-hamburguesa div:nth-child(2) a {
    padding: 8px 0;
    border-bottom: 1px solid white;
    color: white;
    width: 80vw;
    font-size: 1.1em;
}

#menu-hamburguesa div.open:nth-child(2) {
    height: 100vh;
    margin-top: 35px;
    padding-bottom: 100px;
}

header #menu {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #152331;
}

header li {
    padding: 10px 0;
}

/* HERO */

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F8F8;
}

button {
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#img-illustracion {
    display: none;
}

/* SOBRE MI */

#sobre-mi {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#sobre-mi img {
    max-width: 300px;
    max-height: 300px;
    margin: 40px 10px 30px 10px;
}

#texto-sobremi {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

#texto-sobremi h3 {
    display: none;
}

#texto-sobremi p {
    max-width: 80vw;
    padding: 0 20px;
}

/* ESTUDIOS */

#estudios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

#container-estudios {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    margin-top: 60px;
}

#container-estudios h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

#container-estudios h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.container-est {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#container-conocimientos {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: white;
}

#container-conocimientos h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

#container-conocimientos .texto-porc {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

#estudios p {
    max-width: 80vw;
    text-align: center;
    margin-top: 5px;
}

/* PROYECTOS */

#proyectos h3 {
    display: none;
}

#imagenes div:first-child span:first-child{
    margin: 0;
    display: block;
    width: 100%;
    height: 420px;
    background-image: url(../Mockups/web-francia-mobile.png);
    background-repeat: no-repeat;
    background-position: center right;
}

#imagenes div:first-child span:last-child{
    margin: 0;
    display: block;
    width: 100%;
    height: 420px;
    background: url(../Mockups/logo.png);
    background-repeat: no-repeat;
    background-position: center 30%;
}

#imagenes div:last-child span:first-child{
    margin: 0;
    display: block;
    width: 100%;
    height: 420px;
    background-image: url(../Mockups/web-just-mobile.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#imagenes div:last-child span:last-child{
    margin: 0;
    display: block;
    width: 100%;
    height: 420px;
    background-image: url(../Mockups/app-addict-mobile.png);
    background-repeat: no-repeat;
    background-position: left center;
}

@media (min-width: 628px) {
    #imagenes div:first-child span:first-child{
        background-image: url(../Mockups/web-francia.png);
        background-position: top right;
    }

    #imagenes div:last-child span:first-child{
        background-image: url(../Mockups/web-just.png);
        background-position: top center;
    }

    #imagenes div:last-child span:last-child{
        background-image: url(../Mockups/app-addict.png);
        background-repeat: no-repeat;
        background-position: left 30%;
    }
}

