/* NAV */

#menu-hamburguesa {
    display: none;
}

#menu {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

#barra {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #F8F8F8;
}

#barra a {
    padding: 30px;
}

#barra a:hover {
    color: #1a81db; 
}

/* HERO */

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
}

#yo {
    margin-left: 80px;
    padding-right: 200px;
}

#img-illustracion {
    width: 40vw;
    background-color: #A2CCF1;
    border-radius: 100px 0 0 100px;
}

#img-illustracion img{
    min-height: 400px;
    margin-left: -25%;
    padding: 20px 80px 20px 0
}

header button {
    margin-top: 20px ;
}

/* SOBRE MI */

.d-none {
    display: none;
}

#sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

#sobre-mi img {
    height: 436px;
    margin-left: 80px;
    border-radius: 5px;
}

#redes {
    display: block;
    min-width: 70px;
    height: 436px;
    background-color: #4DA0E8;
    margin: 0 60px;
    border-radius: 0 50px 50px 0;
    background-image: url(../Iconos/linkedin.png), url(../Iconos/mail.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center 42%, center 58%;
}

#texto-sobremi {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 80px;
    align-items: center;
}

#texto-sobremi h3 {
    margin-bottom: 20px;
}

/* ESTUDIOS */

#estudios {
    background-color: #F8F8F8;
    padding: 60px 0;
}

#estudios h3 {
    margin-top: 40px;
    margin-bottom: 5px;
}

#estudios h3, #estudios p{
    text-align: center;
}

#container-general{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-general h3 {
    margin-bottom: 45px;
}

#container-estudios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 433px;
    background-color: white;
    padding: 30px 0;
    margin-right: 58px;
    margin-left: 80px;
}

.container-est {
    text-align: center;
}

.container-est h4 {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.container-est:last-child {
    margin-top: 50px;
}

.container-est p {
    margin-bottom: 5px;
}

#container-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 433px;
    background-color: white;
    padding: 30px 0;
    margin-right: 80px;
}

.texto-porc {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

/* PROGRAMAS */

#programas {
    max-width: 1060px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

#programas li {
    width: 212px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#programas .line {
    border-right: 1px solid #4DA0E8;
}

#programas li:first-child {
    background-image: url(../Iconos/logo-illustrator.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#programas li:nth-child(2) {
    background-image: url(../Iconos/logo-photoshop.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#programas li:nth-child(3) {
    background-image: url(../Iconos/logo-figma.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#programas li:nth-child(4) {
    background-image: url(../Iconos/logo-visual.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#programas li:last-child {
    background-image: url(../Iconos/logo-wordpress.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* PROYECTOS */

#proyectos {
    text-align: center;
    background-color: #F8F8F8;
}

#proyectos h3 {
    padding-top: 60px;
    padding-bottom: 30px;
}

#imagenes div{
    display: flex;
}

#imagenes div span {
    width: 50%;
    height: 420px;
}

#imagenes div:first-child span:first-child {
    background: url(../Mockups/logo.png), linear-gradient(90deg, rgba(247,248,248,1) 36%, rgba(210,223,166,1) 100%);
    background-repeat: no-repeat;
    background-position: center center;
}

#imagenes div:first-child span:last-child {
    background-image: url(../Mockups/web-just.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#imagenes div:last-child span:first-child {
    background-image: url(../Mockups/web-francia.png);
    background-repeat: no-repeat;
    background-position: top right;
}

#imagenes div:last-child span:last-child {
    background: url(../Mockups/app-addict1.png), url(../Mockups/app-addict2.png), linear-gradient(90deg, rgba(131,164,212,1) 0%, rgba(182,251,255,1) 72%);
    background-repeat: no-repeat, no-repeat;
    background-position: 30% center, 70% center;
}

@media (min-width: 1220px) {
    #programas {
        margin: auto;
        margin-top: 30px;
    }
}

@media (min-width: 1330px) {
    #yo {
        margin-left: 190px;
        padding-right: 200px;
    }

    #img-illustracion img{
        max-height: 600px;
        padding: 20px 190px 20px 0
    }

    #redes {
        margin: 0 95px;
    }
}