@import url("estilos-mobile.css") screen and (max-width: 991px);
@import url("estilos-pc.css") screen and (min-width: 992px);

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

h1 {font-size: 3em; margin: 0;}
h2 {font-size: 1.3em; margin: 0; font-weight: normal;}
h3 {font-size: 1.2em;}
h4 {border-bottom: 1px solid #A2CCF1; color: #4DA0E8; font-size: 1.2em;}
p {font-size: 0.9em;}
li {font-size: 0.9em;}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #4DA0E8;
    padding: 10px 46px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

button a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: white;
}

/* ESTUDIOS */

#container-estudios, #container-conocimientos, #programas{
    box-shadow: 5px 5px 10px 0px rgba(95,95,95,0.25);
    border-radius: 5px;
}

#container-estudios:hover, #container-conocimientos:hover, #programas:hover{
    box-shadow: 10px 10px 10px 0px rgba(95,95,95,0.25);
}

#container-conocimientos .texto-porc {
    margin-top: 22px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#container-conocimientos div:nth-child(2) {
    color: #FA524F;
}

#container-conocimientos div:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(250,82,79,1) 67%, rgba(238,238,238,1) 67%);
}

#container-conocimientos div:nth-child(3) {
    color: #faac5f;
}

#container-conocimientos div:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(250,172,95,1) 80%, rgba(238,238,238,1) 80%);
}

#container-conocimientos div:nth-child(4) {
    color: #32BA66;
}

#container-conocimientos div:nth-child(4)::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(50,186,102,1) 80%, rgba(238,238,238,1) 80%);
}

#container-conocimientos div:last-child {
    color: #4DA0E8;
}

#container-conocimientos div:last-child::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(77,160,232,1) 30%, rgba(238,238,238,1) 30%);
}